<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Monolito Infra
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-button [color]="axionButtonColor" expand="full" (click)="pingAxion()">Ping Axion</ion-button>
      <ion-note slot="end">{{axionText}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-button [color]="allianzButtonColor" expand="full" (click)="pingAllianz()">Ping Allianz</ion-button>
      <ion-note slot="end">{{allianzText}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-button [color]="primary" expand="full" (click)="refresh()">Refresh</ion-button>
    </ion-item>
  </ion-list>
</ion-content>